{% extends 'base.html' %}

{% block title %} {% endblock title %}

{% block content %}
{% load crispy_forms_tags%}
<h2><b>User_Form</b></h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="/SaveEdit" method="post">
               {% csrf_token %}
               <input type="hidden" name="id" value="{{data.id}}">
                <div id="div_id_name" class="control-group"> 
                    <label for="id_name" class="control-label requiredField">Name
                        <span class="asteriskField">*</span> 
                    </label> 
                    <div class="controls"> 
                        <input value="{{data.name}}" type="text" name="name" maxlength="70" class="textinput textInput" required="" id="id_name"> 
                    </div> 
                </div> 
                <div id="div_id_email" class="control-group"> 
                    <label for="id_email" class="control-label requiredField">Email
                        <span class="asteriskField">*</span> 
                    </label> 
                    <div class="controls"> 
                        <input value="{{data.email}}" type="email" name="email" maxlength="70" class="emailinput" required="" id="id_email"> 
                    </div> 
                </div>
                <div id="div_id_password" class="control-group"> 
                    <label for="id_password" class="control-label requiredField">
                 Password
                 <span class="asteriskField">*</span> 
                </label> 
                <div class="controls"> 
                    <input value="{{data.password}}" type="text" name="password" maxlength="70" class="textinput textInput" required="" id="id_password"> 
                </div> 
            </div>
                <input type="submit" value="Update">
                <a href="/show">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}